@{ Layout = "~/Views/Shared/_LayoutPF.cshtml";
                ViewData["Title"] = "AfficheInterlocuteurs"; }

<head>
    <link rel="stylesheet" href="~/css/connecte.css">
</head>

<div class="container text-center" style="margin-top:5%;">
    <h1 class="section-title">Mes interlocuteurs</h1>
</div>
<div class="container employes">
    <div class="row rowCard" style="margin:5% auto;">

        <div class="col-md-3 col-sm-6">
            <div class="card cardConnecte">
                <img class="card-img-top imgInterl" src="~/images/interlocuteurs/Youssef.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Youssef El Mejjad</h5>
                    <p class="card-text">
                        Directeur</br>
                        06 88 55 65 21</br>
                        y.elmejjad@mega.fr
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card cardConnecte">
                <img class="card-img-top imgInterl" src="~/images/interlocuteurs/Emeline.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Emeline Peyrot</h5>
                    <p class="card-text">
                        Chef de groupe</br>
                        06 48 56 23 68</br>
                        e.peyrot@mega.fr
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card cardConnecte">
                <img class="card-img-top imgInterl" src="~/images/interlocuteurs/Etienne.jpeg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Etienne Rakoto</h5>
                    <p class="card-text">
                        Directeur de clientèle</br>
                        06 77 81 49 53</br>
                        e.rakoto@mega.fr
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card cardConnecte">
                <img class="card-img-top imgInterl" src="~/images/interlocuteurs/Geoffroy.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Geoffroy Richez</h5>
                    <p class="card-text">
                        Coordinateur</br>
                        07 11 55 47 22</br>
                        g.richez@mega.fr
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>