@model WebApplication1.ViewModels.DevisViewModel
@{
    Layout = "~/Views/Shared/_LayoutDeconnecte.cshtml";
    ViewBag.Title = "Formulaire Devis 3";
}
@if (!Context.User.Identity.IsAuthenticated)
{

    <div class="text-left" style="text-align:center">
        <h3>Merci pour votre demande de devis.</h3> <br />
        <div class="texte devis3">
            Nous allons traiter votre demande au plus vite, vous recevrez une réponse de notre part sous 3 jours ouvrés. <br />
            <br />
            En attendant, vous allez recevoir par email vos identifiants afin de vous connecter à votre espace client à partir duquel vous pourrez suivre l'avancement de votre devis.
            <div style="text-decoration: underline; color: white">
                @Html.ActionLink("Accéder à votre espace en ligne", "Index", "Connexion", null, new { @style = "color:white; text-decoration: underline;" })
            </div>
            <br />
            Vous pouvez également nous contacter directement pour toute demande urgente.<br />
        </div>
    </div>
}
else
{
    <div class="text-left" style="text-align:center">
        <h3>Merci pour votre nouvelle demande de devis.</h3> <br />
        <div class="texte devis3">
            Nous allons traiter votre demande au plus vite, vous recevrez une réponse de notre part sous 3 jours ouvrés. <br />
            <br />
            En attendant, n'hésitez pas à consulter le récapitulatif de vos devis dans votre espace.<br />
            <br />
            <div>
                @Html.ActionLink("Consulter mes devis en cours", "DemandeDevis", "Connexion", null, new { @style = "color:white; text-decoration: underline;" })
            </div>
            <br />
            Vous pouvez également nous contacter pour toute demande urgente.<br />
        </div>
    </div>
}

